:root{
    --primary-color: #68C8B2;
    --secondry-color:#cffbf4 ;
  
  }


.question{
   background-color:var(--secondry-color) ;
   height: 500px;
   
}
.marked-question{
    background-color: var(--primary-color);

}

.answers{
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    
}
.continerOfRadioAndLabel{
   
    max-width: 70%;
    min-width: 30%;
    border: 1px solid var(--primary-color) ;
    border-radius: 3px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    margin: 10px;
}


