:root{
    --primary-color: #68C8B2;
    --secondry-color:#cffbf4 ;
    --hovercolor:#3b9e87;
    --bluercolor:#68c8b214;
  
  }


.question{
   background-color:white ;
   border-radius: 10px;
   border: 1px solid gray;

   
}
.marked-question{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    height: 600px;
    border: 1px solid gray;
    overflow-y: scroll;
    


}
.marked-button{
    margin-top:0 !important;
}

.answers{
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    
    
}
.continerOfRadioAndLabel{
   
    width:70% ;
    border: 1px solid gray ;
    border-radius: 10px;
    background-color: var(--bluercolor);
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
    
}
.btns{

    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
.btncolor{
    background-color: var(--primary-color) !important;
    color:white !important;
}
.btncolor:hover{
    background-color: var(--hovercolor) !important;
}
.btnprevcolor{
    background-color: white !important;
    border: 2px solid var(--primary-color) !important;


}
.submit-button{
    background-color: var(--primary-color) ;
    padding: 10px;
    width: 100%;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    

    

}
.submit-button:hover{
    background-color:var(--hovercolor) ;
    
}
.marked-button{
    border:1px solid var(--primary-color) !important ;
    
}
.disabled-btn{
    background-color: gray;
    padding: 10px;
    width: 100%;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    border: none;
}


@media screen and (max-width:770px) {
    .continerOfRadioAndLabel{
        margin:10px 0;
       
        width: 113%;

    }
    
   
    #mark-btn{
        width: 80px;
        padding-left: 0 !important;
        padding-right: 0 !important;
        
    }

}


