/* styles.css */

body {
  font-family: Arial, sans-serif;
}

.timer-container {
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  position: relative;
}

#timer-bar {
  width: 0%; /* Start with width 0% */
  height: 30px;
  background-color: #4caf50;
  transition: width 1s linear; /* Smooth transition animation */
}
