:root{
    --primary-color: #68C8B2;
    --secondry-color:#cffbf4 ;
    --hover-color:#54b69f;

}
.title-result{
    color: var(--primary-color);
}
.result-box{
    border: 2px solid var(--primary-color);
    border-radius: 20px;
}
.box-img {

margin: auto;
}